$font-fam-1: 'OpenSans';
$font-fam-2: 'Cuprum';

$font-1-local: 'OpenSans Regular';
$font-1-url1: '../fonts/opensans.woff';
$font-1-url2: '../fonts/opensans.woff2';

$font-2-local: 'OpenSans Bold';
$font-2-url1: '../fonts/opensansbold.woff';
$font-2-url2: '../fonts/opensansbold.woff2';

$font-3-local: 'OpenSans Light';
$font-3-url1: '../fonts/opensanslight.woff';
$font-3-url2: '../fonts/opensanslight.woff2';

$font-4-local: 'OpenSans Semibold';
$font-4-url1: '../fonts/opensans-semibold.woff';
$font-4-url2: '../fonts/opensans-semibold.woff2';

$font-5-local: 'OpenSans Italic';
$font-5-url1: '../fonts/opensans-italic.woff';
$font-5-url2: '../fonts/opensans-italic.woff2';

$font-6-local: 'Cuprum Regular';
$font-6-url1: '../fonts/cuprum-regular.woff';
$font-6-url2: '../fonts/cuprum-regular.woff2';

$font-7-local: 'Cuprum Bold';
$font-7-url1: '../fonts/cuprum-bold.woff';
$font-7-url2: '../fonts/cuprum-bold.woff2';
